monsterwm
*.o
*.swp
*~
*.diff
config.h

.ccls-cache/\@\@home\@erik\@cProgs\@suckless\@monsterwm/

.ccls-cache/\@home\@erik\@cProgs\@suckless\@monsterwm/

.ccls-cache/\@home\@erik\@cProgs\@suckless\@monsterwm/
